@import "./variables";

.caret {
  color: palette(gray, xdark);
  cursor: pointer;
  display: inline-block;
  font-size:11px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  transition: transform 0.2s ease;
  width: 20px;

  &.closed,
  &.disabled {
    transform:rotate(-180deg);
  }

  &.disabled {
    color: palette(gray, base);
    pointer: not-allowed;
  }
}
